@import "tailwindcss";

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY((-35px));
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }

}

.animate-fade-down{
    animation: fade-down 2s ease-out forwards;
}
